<!-- Modal Loading-->
<div aria-hidden="true" aria-labelledby="loadingModal" role="dialog"
	tabindex="-1" id="loadingModal" class="modal fade" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content loading-content">
			<div class="loading {{loadingclass}}">
			  <span class="dots"></span>
			  <span class="dots"></span>
			  <span class="dots"></span>
			  <span class="dots"></span>
			  <span class="dots"></span>
			  <span class="dots"></span>
			  <span class="dots"></span>
			  <span class="dots"></span>
			  <span class="dots"></span>
			  <span class="dots"></span>
			</div>
		</div>
	</div>
</div>